# Dependencies
node_modules/

# Build output
dist/
.vite/

# Env files (bí mật)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / test
coverage/

# Optional caches
.eslintcache
